
<!-- <section > --> <!-- ng-controller="snapshotController" -->
<kendo-mobile-view id="snapshot" ng-controller="SnapshotsController">
		 @@include('../../site/partials/mainHeader.html')
	    </kendo-mobile-header>
	    <!-- class="km-insetcontent" -->
	    <kendo-web-content ng-init="getAllAssesmentDetails()">	    	
	        <div class="datalist profile-grid2 profile-grid3">
	        	<kendo-mobile-nav-bar class="km-accent  sw-header">		            
		            <kendo-view-title> Snapshot </kendo-view-title>	            
		        </kendo-mobile-nav-bar>
		        <div class="snapshot-content" style="overflow-y:auto; min-height: calc(92vh - 118px) !important;
  height: 200px;">
		    	<ul>

			    	<li id="personnalDetail" class="clearfix">
			    		<figure class="profile-pic">
			    			<!-- <img src="images/avatar.png" class="avatarImg"> -->
			    			<div class="profile-image avatarImg" style="background-image: url({{profileImage?profileImage:gender=='M'?'images/avatar.png':'images/avatar-fm.png'}});"></div>

			    		</figure>
			    		<p class="name">
			    			{{finalAssesmentData.userDetails.firstName}}
			    			  {{finalAssesmentData.userDetails.middleName}}
			    			  {{finalAssesmentData.userDetails.lastName}}
			    		</p>
			    		<p class="age"><span>Age:{{userAge}}</span></p>
			    	</li>

			    	<li id="gdDetails" class="clearfix">
		    			<header>
		    				<img src="images/growth-icon.png">
		    				<div>
		    					<p class="title">Growth & Development</p>
		    					<p class="sub-title">Assesment</p>
		    				</div>
		    			</header>
	    				<ul class="content-cls">
	    					<li>
	    						<p class="text-left"> Height</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">{{finalAssesmentData.growthInfo.height[0].value}}</p>
	    					</li>

	    					<li>
	    						<p class="text-left"> Weight</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">{{finalAssesmentData.growthInfo.weight[0].value}}</p>
	    					</li>

	    					<li>
	    						<p class="text-left"> Systolic</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">
	    							{{finalAssesmentData.growthInfo.bp[0].value.systolic}}
	    						</p>
	    					</li>

	    					<li>
	    						<p class="text-left"> Diastolic</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">
	    							{{finalAssesmentData.growthInfo.bp[0].value.diastolic}}
	    						</p>
	    					</li>

	    					<li>
	    						<p class="text-left"> Heart beat Rythm</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">
	    							{{finalAssesmentData.growthInfo.heartbeat[0].value}}
	    						</p>
	    					</li>
	    					
	    				</ul>
			    	</li>

			    	<li id="visionDetails" class="clearfix">
			    		<header>
		    				<img src="images/visual-icon.png">
		    				<div>
		    					<p class="title">Vision</p>
		    					<p class="sub-title">Assesment</p>
		    				</div>
		    			</header>
	    				<ul class="content-cls">
	    					<li>
	    						<p class="text-left"> Squint</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">
	    							{{finalAssesmentData.readings[0].squUnit}}
	    						</p>
	    					</li>

	    					<li>
	    						<p class="text-left"> Conjunctiva</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">
	    							{{finalAssesmentData.readings[0].conjunctiva}}
	    						</p>
	    					</li>

	    					<li>
	    						<p class="text-left"> Comea</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">
	    							{{finalAssesmentData.readings[0].comea}}
	    						</p>
	    					</li>
	    					
	    				</ul>

	    				<header>
		    				<!-- <img src="images/hearing-icon.png"> -->
		    				<div>
		    					<p class="secondary-title">Visual Acuity</p>
		    				</div>
		    			</header>
	    				<ul class="content-cls">
	    					<li>
	    						<p class="text-left"> Left eye</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">
	    							{{finalAssesmentData.readings[0].leftEye}}
	    						</p>
	    					</li>

	    					<li>
	    						<p class="text-left"> Right eye</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right">{{finalAssesmentData.readings[0].rightEye}}</p>
	    					</li>
	    					
	    				</ul>

	    				<header>
		    				<!-- <img src="images/hearing-icon.png"> -->
		    				<div>
		    					<p class="secondary-title">Refractometer Readings</p>
		    				</div>
		    			</header>
	    				<table id="visual-grid">
			                <thead>
			                    <tr>
			                        <th data-field="make"></th>
			                        <th data-field="model">Spherical</th>
			                        <th data-field="year">Cylendrical</th>
			                        <th data-field="category">Axis</th>
			                    </tr>
			                </thead>
			                <tbody>
			                    <tr>
			                        <td class="txt-align-left">Left eye</td>
			                        <td class="vi-value">
			                        	{{finalAssesmentData.readings[0].leftSpherical}}
			                        </td>
			                        <td class="vi-value">
			                        	{{finalAssesmentData.readings[0].leftCylindrical}}
			                        </td>
			                        <td class="vi-value">
			                        	{{finalAssesmentData.readings[0].leftAxis}}
			                        </td>
			                    </tr>
			                    <tr>
			                        <td class="txt-align-left">Right eye</td>
			                        <td class="vi-value">
			                        	{{finalAssesmentData.readings[0].rightSpherical}}
			                        </td>
			                        <td class="vi-value">
			                        	{{finalAssesmentData.readings[0].rightCylindrical}}
			                        </td>
			                        <td class="vi-value">
			                        	{{finalAssesmentData.readings[0].rightAxis}}
			                        </td>
			                    </tr>
			                </tbody>
			            </table>
			    	</li>

			    	<li id="hearingDetails" class="clearfix">
			    		<header>
		    				<img src="images/hearing-icon.png">
		    				<div>
		    					<p class="title">Hearing</p>
		    					<p class="sub-title">Assesment</p>
		    				</div>
		    			</header>
	    				<ul class="hearing-cnt-cls">
	    					<li class="clearfix" ng-repeat="item in finalAssesmentData.hearingAssesment">
	    						<p class="text-left"><span class="dot-cls">.</span>
	    							{{item.question}}?
	    						</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right" ng-class="item.values == 'no' ? 'no-cls' : 'yes-cls'">
	    							{{item.values}}
	    						</p>
	    					</li>

	    					<li class="clearfix">
	    						<img style="width: 100%;" ng-src="{{finalAssesmentData.rightEarUrl}}">
	    					</li>

	    					<li class="clearfix">
	    						<img style="width: 100%;" ng-src="{{finalAssesmentData.lowerEarUrl}}">
	    					</li>
	    				</ul>
			    	</li>

			    	<li id="dentalDetails" class="clearfix">
			    		<header>
		    				<img src="images/dental-icon.png">
		    				<div>
		    					<p class="title">Dental</p>
		    					<p class="sub-title">Assesment</p>
		    				</div>
		    			</header>

		    			<ul class="hearing-cnt-cls">
	    					<li class="clearfix" ng-repeat="item in finalAssesmentData.dentalAssesment">
	    						<p class="text-left"><span class="dot-cls">.</span>
	    							{{item.question}}?
	    						</p>
	    						<span class="colon-cls">:</span>
	    						<p class="text-right" ng-class="item.values == 'no' ? 'no-cls' : 'yes-cls'" >{{item.values}}</p>
	    					</li>

	    					<li class="clearfix">
	    						<img style="width: 100%;" ng-src="{{finalAssesmentData.lowerjawurl}}">
	    					</li>

	    					<li class="clearfix">
	    						<img style="width: 100%;" ng-src="{{finalAssesmentData.upperjawurl}}">
	    					</li>
	    				</ul>

			    	</li>

			    	<li id="overAllImpressionDetails" class="clearfix">
			    		<header>
		    				<div>
		    					<p class="title">Overall impression of the Medical Officer</p>
		    				</div>
		    			</header>
		    			<p>
		    				{{finalAssesmentData.userAssesmentStatus.details.comments}}
		    			</p>
			    	</li>
		    	</ul>
	    	</div>
		</kendo-web-content>

</kendo-mobile-view>

<!-- </section> -->