#addNotes {
	text-align: center;
	.noteImage {
		margin-top: 15%;
	}
	.subHeader {
		margin: 5%;
		font-size: 17px;
		line-height: 1.3;
		letter-spacing: -0.8px;
		color: #4a90e2;
	}
	.addNotesHere {
		width: 80%;
		outline: none;
		border: 0;
		resize: none;
		background: transparent;
		height: 200px;
		color:black;
		line-height: 1.618em;
	}
}