div#profile-bloodGroup {
    text-align: center;
    margin: 25% 10% 10% 10%;
    img {
        width: 30%
    }
    select {
        margin-top: 30%;
        text-align: center;
        font-family: OpenSans;
        font-size: 23px;
        letter-spacing: 0px;
        color: #5f5f5f;

    }
    .bloodGroup_active {
        content: url("../images/bloodGroup_active.png")
    }
    .bloodGroup_inactive {
        content: url("../images/bloodGroup_inactive.png");
    }
    .form-bloodGroup-underlined {
        height: 5%;
        border: 0 !important;
        background: none !important;
        /*border-bottom: 1px solid #4a4a4a !important;*/
        width: 100%;
        outline: none;
        font-size: large;
        -webkit-appearance:none ;
        &:focus {
            outline: none;
            background: none !important;
        }
    }
    .bg-center{
        padding-left: 32% !important;
        opacity: 0.5 !important;
    }
}   
