div.emcon {

  margin: 25% 10% 10% 10%;

  .top-element {
    text-align: center;
  }

  div>p{
    margin-left:10%;
  }


  .em-grey{
    content: url("../images/em_contact_grey.png");
    width: 10%;
  }
  .em-blue{
    content: url("../images/em_contact_blue.png");
    width: 10%;
  }


}