div.fpwd {
  position: relative;
  /*width: 100%;*/
  box-sizing: border-box;
  /*padding: 10%;*/
  /*bottom: 0;*/
  z-index: 1;
  align-content: center;
  background-color: white;
    width: 300px;
      margin: 0 auto;

  .text{
    width: 100%;
    text-align: center;
    font-family: OpenSans;
    font-size: 16px;
    color: #4a4a4a;
    padding: 12% 2%;
  }

  .forgot-password {
    margin-top: 10px;
  }
}

input.text-red.ng-invalid{
  color: #fa5469;
}

input.text-green.ng-invalid{
  color: #00a651;
}