#intro-dashboard{
	.arrow-up {
		width: 0; 
		height: 0;
		top: -15px;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;		
		border-bottom: 15px solid #f5f5f5;
	}

	kendo-mobile-header {
		background-color: #3b86dd;
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
		color: #ffffff;

		.km-navbar .km-button {
			margin-top : 0;
			margin-bottom : 0;
		}

		.km-navbar {
			background-color: #3b86dd;
		}
		#intro-buttongroup {
			border-radius: 6px;
			border: 2px solid #ffffff;
			letter-spacing: -0.6px;
			font-size: 13px;
			font-weight: normal;
			margin: 5px 9px 12px 9px;


			.personal-btn {
				border-right: 2px solid #ffffff;
			}
			.medical-btn {
				border-right: 2px solid #ffffff;
			}
			.dashboard-btn {
				/*border: 0;*/
			}
		}
	}

	.panel-body {
		padding: 15px;
		background-color: #f5f5f5;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
		position: absolute;
		top: 0px;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 15px;

		#personal-intro {
			.arrow-up {
				position: absolute;
				left: 16%;
			}
			span{
				font-family: ComicSansMS;
				font-size: 23px;
				letter-spacing: -1.1px;
				color: #3b86dd;

				p {
					font-size: 18px;
					letter-spacing: -0.8px;
					color: #3b86dd;
				}
			}

			.button-box {
				width: 80%;
				border: 0;
				font-size: 18px;
				color: #ffffff;
				font-weight: normal;
				position: absolute;
			    float: none;
			    bottom: 8%;
			    margin-left: 10%;
			}
		}

		#medical-intro {
			.arrow-up {
				position: absolute;
				left: 44%;
			}
			.content-Text {
				font-family: ComicSansMS;
				color: #3b86dd;
				.firstP {
					margin-top: 2%;
					font-size: 23px;
					letter-spacing: -1.1px;
				}
				.secondP {
					font-size: 18px;
					letter-spacing: -0.8px;
				}
				.line {
					margin-top: 2%;
					width: 100%;
					opacity: 0.4;
					border: solid 1px #979797;
				}
				.thirdP {
					margin-top: 2%;
					font-size: 16px;
					letter-spacing: -0.8px;
				}
			}

			.footer-button {
				/*position: absolute;
				bottom: 5%;*/
				margin-top: 25px;
				font-size: 15px;
				color: #ffffff;
				font-weight: normal;
				width: 100%;
				
				button {
					border-radius: 10px;
					width: 40%;
					padding: 6px;
				}
				.btn-start {
					float: left;
					margin-left: 5%;
					background-color: #83c762;
					border: solid 1px #a5a5a5;
				}
				.btn-skip {
					float: right;
					margin-right: 5%; 
					background-color: #fc7871;
					border: solid 1px #a5a5a5;
				}
			}
		}
	}

	#medicalInfopage {

		.list-group-item {
			height: 45px;
		}
		.medInfoImg {
			float: left;
			width: 15%;
			margin-left: 5%;
		}
	}

}