#personalEdit{
    /*overflow: scroll;*/

	.contentHeader{
		text-align:center;
	}
	.avatarImg{
		width: 125px;
		height: 125px;
		margin: 5% auto;
		border-radius: 50%;
	}
	.profileNameText{
		font-size: 15px;
	    letter-spacing: 0px;
	    color: #6d6d6d;
	    text-align: center;
	    padding: 0 0 5% 0;
	    border-bottom: 1px solid #ccc;
	    margin-right:0px;
    	margin-left:0px;
    }
    .subhead{
		background-color:#7A7A7A !important;
		color:#ffffff;
	    }
    .personalListItem{
    	min-height: 50px;
	    position: relative;
	    display: block;
	    padding: 10px 15px;
	    margin-bottom: -1px;
	    background-color: #fff;
	    border: 1px solid #ddd;
	    line-height: 35px;

	    .data{
	    	padding-left:0;
	    }
	    .left{
	    	color:#ccc;
	    }
	    .right{
	    	text-align:right;
	    }
	    .addr{
	    	margin:0 12% 0 30%;
	    }

    }

}