



<kendo-mobile-header class="sw-main-header">
		
	<div class="swaasth-main-logo" ui-sref="home">
		<img src="images/swaasth-logo.png">
	</div>

    <kendo-mobile-button-group id="intro-buttongroup" k-align="'top'" >
    	
	    <div class="button-tab switchedTab1" ng-show="switchedTab==2">
	    	<li ng-class="selectedTab == 'personal'? 'km-state-active':''" class="personal-btn" ng-click="showPersonalDetail()">Personal</li>
	        <!--  ng-class="selectedTab == 'medical'? 'km-state-active':''" -->
	        <li class="medical-btn " ng-class="{'km-state-active':selectedTab == 'medical','touch-disabled':!(currentUser.firstName && currentUser.gender && currentUser.dateOfBirth && currentUser.bloodGroup && currentUser.contactNumber)}" ng-click="goToMedicalInfo()">Medical</li>
	        
	        <li class="dashboard-btn" ng-class="{'km-state-active': selectedTab == 'dashboard' , 'touch-disabled':!(currentUser.firstName && currentUser.gender && currentUser.dateOfBirth && currentUser.bloodGroup && currentUser.contactNumber)}" ng-click="showDashboard()">Dashboard</li>
        </div>

        <div class="button-tab switchedTab2" ng-show="switchedTab==1">
	    	<li ng-class="selectedTab == 'record'? 'activeTab':''" class="personal-btn" ui-sref="record">

	    		<!-- <div class="records-icon" ></div> -->
                <img ng-hide="selectedTab == 'record'" src="images/icons/records.png">
                <img ng-show="selectedTab == 'record'" src="images/icons/records_selected.png">
                <div>Records</div>
                <div ng-show="selectedTab == 'record'" class="drop-down-select"></div>
	    	</li>

	        <li ng-class="selectedTab == 'home'? 'activeTab':''" class="medical-btn" ui-sref="home">
	        	<img ng-hide="selectedTab == 'home'" src="images/icons/home.png">
                <img ng-show="selectedTab == 'home'" src="images/icons/home_selected.png">
	        	<div>Home</div>
	        	<div ng-show="selectedTab == 'home'" class="drop-down-select"></div>
	        </li>

	        <li ng-class="selectedTab == 'family'? 'activeTab':''" class="dashboard-btn" ui-sref="familyMember">
	        	<img ng-hide="selectedTab == 'family'" src="images/icons/family.png" style='width:50px;'>
	        	<img class="selected-img" ng-show="selectedTab == 'family'" src="images/icons/family_selected.png">
	        	<div>Family</div>
	        	<div ng-show="selectedTab == 'family'" class="drop-down-select"></div>
	        </li>
        </div>

        <div class="col-xs-12 drop-down-menu" k-align="'right'" ng-click="openNav()">
	        <img ng-src="{{user.profileImage?user.profileImage:user.gender=='M'?'images/avatar.png':'images/avatar-fm.png'}}" class="avatarImg">
	        <img class="menu-icon" src="images/drop-down-icon.png">

	        @@include('../../sidebar/sidebarSkin.html')
	    </div>
    </kendo-mobile-button-group>
    
</kendo-mobile-header>