@font-face {
  font-family: "ComicSansMS";
  src: url("../fonts/ComicSansMS.ttf") format("woff"), url("../fonts/ComicSansMS3.ttf") format("ttf"), url("../images/ComicSansMS.ttf") format("svg"); }

body {
  width: 980px;
  /*position: relative;*/
  margin: 0px auto !important; }

* {
  font-family: 'Open Sans'; }

.black-text {
  color: black;
  font-size: 1em; }

.login-view {
  /*height: 100%;
    background-color: #f9f9f9;*/ }

.login-view input {
  text-align: center; }

select {
  padding-left: 40%; }

input {
  display: inline-block; }

.p-icon {
  width: 30%;
  height: auto; }

div.generic-spacing {
  margin: 25% 10% 10% 10%; }

.box {
  height: 100%;
  align-content: center;
  border-radius: 10px;
  border: solid 1px #4a4a4a; }

.form-input-underlined {
  height: 5%;
  border: 0;
  border-bottom: 1px solid #4a4a4a !important;
  outline: 0;
  width: 100%;
  margin: 10% 0px;
  text-align: center;
  background: transparent;
  font-size: large;
  /*box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;*/ }
  .form-input-underlined:focus {
    border-bottom: 1px solid #3b86dd !important; }

.form-error {
  color: red;
  font-size: medium; }

.button-box {
  width: 100%;
  height: 50px;
  color: #FFFFFF;
  align-content: center;
  font-weight: bold;
  margin-top: 5%;
  border-radius: 10px;
  border: solid 1px #4a4a4a;
  background-color: #3b86dd;
  cursor: pointer; }

.button-box:focus {
  border: solid 1px #4a4a4a; }

.form-input {
  background-color: transparent;
  border-radius: 0px;
  color: black;
  margin: 5% 8%;
  width: 84%; }

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent !important; }

.border-bottom {
  border-bottom: 1px solid #eee; }

.btn-next {
  color: #3b86dd; }

.red-alert-oval {
  background-color: #F5DADA;
  border-radius: 10px; }

.white-alert-oval {
  background-color: #f9f9f9;
  border-radius: 10px; }

input,
input:focus {
  border: 0px;
  outline: none; }

.km-navbar .km-back:before {
  color: #3b86dd; }

.form-errors {
  text-align: center;
  margin-top: 5%; }

.top-element {
  text-align: center;
  margin-top: 5%; }

p {
  text-align: center; }

.a-left {
  float: left; }

.clear {
  clear: both; }

.form-txtarea-bordered {
  height: 5%;
  border-radius: 4px;
  border: 1px solid #4a4a4a !important;
  outline: 0;
  width: 80%;
  margin: 10%;
  text-align: center;
  font-size: large; }
  .form-txtarea-bordered:focus {
    border: 1px solid #3b86dd !important; }

/*.cloud-bg{
    position: fixed;
    bottom: 0px;
    height: 50vh;
    width: 100%;
    z-index: -1;
    background-image: url("../images/clouds.png"), url("../images/clouds-light.png");
    background-position: 50% 100%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: 100% auto, 100% auto;
}*/
.cloud-bg {
  position: fixed;
  bottom: 0px;
  height: 50vh;
  width: 100%;
  z-index: -2;
  background-image: url("../images/clouds-light.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.cloud-bg:after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 50vh;
  width: 100%;
  z-index: -2;
  background-image: url("../images/clouds.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.cloud-down {
  bottom: -66px; }

kendo-mobile-view {
  z-index: 2; }

.swaasth-logo {
  position: absolute;
  height: 152px;
  width: 110px;
  margin: 0 auto;
  background-image: url("../images/swaasth-logo.png");
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  top: 20px; }

.sw-header {
  width: 400px;
  margin: auto;
  text-align: center;
  height: 50px;
  -webkit-backdrop-filter: blur(28px);
  backdrop-filter: blur(28px);
  background-color: #3b86dd !important;
  box-shadow: 0 1px 0 0 transparent;
  color: white !important; }

.text {
  width: 100%;
  text-align: center;
  font-family: OpenSans;
  font-size: 16px;
  color: #4a4a4a;
  padding: 6%; }

.km-navbar .km-back:before {
  color: white !important; }

.btn-next {
  color: white !important; }

.common-input-box {
  position: relative;
  /*width: 100%;
    padding: 10%;*/
  bottom: 0px;
  /*z-index: 1;*/
  align-content: center;
  box-sizing: border-box; }

.theme-blue {
  background-color: #3b86dd !important;
  color: white !important; }

.underline {
  width: 100%;
  border-top: 1px solid #aaa !important; }

.cloud-bg.cloud-light:after {
  opacity: 0.3;
  bottom: -66px;
  filter: alpha(opacity=30); }

.scrollable {
  position: relative; }

.touch-disabled {
  pointer-events: none; }

.loader {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 10;
  margin: auto;
  left: 48%;
  top: 50%;
  background-image: url("../images/loader.gif");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto; }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  /*left: 0;
    top: 0;*/
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  transition-property: top, bottom;
  -webkit-transition-property: top, bottom;
  -webkit-transition-duration: 0.5s; }

/*.overlay-img {
    margin: 5vh 20vh;
    position: absolute;

    img {
        width: 20vh;
    }
}*/
/*.overlay-content {
    position: relative;
    top: 30vh; 
    width: 100%;
    margin-top: 30px;

    .list-group-item {
        height: 10vh;
        .sidebar-icon {
            width: 10%;
            float: left;
        }
        .sidebar-text {
            width: 90%;
        }
    }
}*/
/*.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}*/
/*.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}*/
.closebtn {
  position: absolute;
  right: 15px;
  font-size: 30px !important;
  color: #337ab7;
  height: 30px;
  line-height: 30px;
  text-align: center; }

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }
  .closebtn {
    color: #337ab7;
    font-size: 20px !important;
    top: 5px;
    right: 15px; } }

.medInfoDisclose {
  margin-top: 1%;
  width: 3%;
  float: right; }

#record .medInfoDisclose {
  margin-top: 5%;
  width: 4%;
  float: right; }

kendo-mobile-header {
  background-color: #3b86dd;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.3);
  color: #ffffff; }
  kendo-mobile-header .km-navbar .km-button {
    margin-top: 0;
    margin-bottom: 0; }
  kendo-mobile-header .km-view-title {
    font-size: 18px;
    line-height: 50px;
    letter-spacing: -0.8px;
    color: #ffffff; }
  kendo-mobile-header .km-navbar {
    background-color: #3b86dd; }

kendo-mobile-footer {
  height: 11vh;
  border-top: 1px solid #979797; }
  kendo-mobile-footer .records-icon {
    background-image: url("../images/icons/records.png");
    background-repeat: no-repeat;
    background-size: 6vh;
    width: 7vh;
    height: 6vh;
    margin: auto; }
  kendo-mobile-footer .home-icon {
    background-image: url("../images/icons/home.png");
    background-repeat: no-repeat;
    background-size: 7vh;
    width: 7vh;
    height: 6vh;
    margin: auto; }
  kendo-mobile-footer .family-icon {
    background-image: url("../images/icons/family.png");
    background-repeat: no-repeat;
    background-size: 7vh;
    width: 8vh;
    height: 6vh;
    margin: auto; }
  kendo-mobile-footer .col-xs-4 {
    background: #ffffff;
    padding-top: 1vh;
    text-align: center; }
  kendo-mobile-footer .activeTab {
    background-color: #4a90e2 !important;
    color: #ffffff !important; }
    kendo-mobile-footer .activeTab .records-icon {
      background-image: url("../images/icons/records_selected.png");
      background-repeat: no-repeat;
      background-size: 6vh;
      width: 7vh;
      height: 6vh;
      margin: auto; }
    kendo-mobile-footer .activeTab .home-icon {
      background-image: url("../images/icons/home_selected.png");
      background-repeat: no-repeat;
      background-size: 7vh;
      width: 7vh;
      height: 6vh;
      margin: auto; }
    kendo-mobile-footer .activeTab .family-icon {
      background-image: url("../images/icons/family_selected.png");
      background-repeat: no-repeat;
      background-size: 7vh;
      width: 8vh;
      height: 6vh;
      margin: auto; }

#aboutCls {
  padding: 0vh 5vh 0vh; }
  #aboutCls .swaasth-logo {
    position: relative;
    /*height: 35vh;*/
    width: 14vh;
    margin: 0 auto;
    background-image: url("../images/swaasth-logo.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 100% auto; }
  #aboutCls .copyRightCls {
    color: #4e94e3;
    line-height: 24px; }
  #aboutCls .aboutSwasthDescription {
    line-height: 24px;
    margin-bottom: 15px; }

#termsPricavyCls {
  padding: 0vh 5vh 25vh; }
  #termsPricavyCls .pageHeader {
    text-align: left;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: -0.8px;
    color: #4e94e3;
    padding-left: 0px; }
  #termsPricavyCls .termsDescription p {
    text-align: left;
    line-height: 22px; }

#contactUsCls {
  padding: 0vh 5vh 25vh; }
  #contactUsCls .swaasth-logo {
    position: relative;
    height: 35vh;
    width: 20vh;
    margin: 0 auto;
    background-image: url("../images/swaasth-logo.png");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 100% auto; }
  #contactUsCls .emailCls {
    text-align: center; }
    #contactUsCls .emailCls img {
      text-align: center;
      width: 6vh; }
    #contactUsCls .emailCls .emailID {
      font-size: 22px;
      letter-spacing: 0px;
      color: #3b86dd; }
  #contactUsCls .phoneCls {
    text-align: center; }
    #contactUsCls .phoneCls img {
      text-align: center;
      width: 6vh; }
    #contactUsCls .phoneCls .phoneNo {
      font-size: 23px;
      letter-spacing: 0px;
      color: #3b86dd; }

.txt-align-left {
  text-align: left !important; }

#setPassword .input-wrapper {
  border: none; }

#setPassword .validator-img {
  position: relative;
  top: -37px;
  /* right: -39px; */
  left: 24px;
  display: inline;
  float: right; }

#setPassword .input-div {
  border: solid 1px #4a4a4a; }

#setPassword .validator-img img {
  width: 16px; }

#indexCloud {
  height: 270px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  bottom: 0px;
  left: 0px; }

.cloud-thick {
  background-image: url("../images/clouds.png"); }

.cloud-light {
  background-image: url("../images/clouds-light.png"); }

/*
    Changes done for new issues
*/
.km-state-disable {
  cursor: default !important; }

.nav-icon {
  width: 600px;
  margin: 0px auto;
  position: relative; }

.left-arrow, .right-arrow {
  position: absolute;
  font-size: 55px;
  color: #3b86dd;
  top: 250px;
  font-weight: bold;
  cursor: pointer; }

.left-arrow {
  left: 45px; }

.right-arrow {
  right: 45px; }

.main-grid {
  width: 700px;
  margin: 0px auto; }

.grid1 {
  width: 300px;
  margin: 0 auto; }

.profile-grid2 {
  width: 400px;
  border: 1px solid #CBC9C9;
  margin: 20px auto;
  position: relative;
  border-radius: 12px;
  background-color: white;
  min-height: calc(100vh - 42px); }
  .profile-grid2 .sw-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
  .profile-grid2 .form-input-underlined {
    border-bottom: 1px solid #CBC9C9 !important;
    color: #6d6d6d; }
  .profile-grid2#medicalInfopage .list-group-item {
    margin: 20px;
    cursor: pointer;
    border: 0px;
    border-bottom: 1px solid #bbb6b6; }
    .profile-grid2#medicalInfopage .list-group-item .medInfo {
      line-height: 30px; }

.profile-grid3 {
  min-height: calc(100vh - 118px) !important; }
  .profile-grid3 .footer-button button {
    cursor: pointer; }
  .profile-grid3 .rec-img img {
    width: 100px; }

.sw-main-header {
  width: 100%;
  background-color: white !important;
  height: 75px;
  /* min-width: 980px; */ }
  .sw-main-header #intro-buttongroup {
    color: #777777;
    width: 100%;
    margin: 0px auto !important;
    height: 72px;
    line-height: 55px;
    font-size: 18px !important;
    border: 0px !important;
    text-align: center; }
    .sw-main-header #intro-buttongroup .switchedTab2 li {
      height: 100%;
      padding: .48em 2em .44em; }
    .sw-main-header #intro-buttongroup .km-state-active {
      border-bottom: 3px solid;
      background-color: #ffffff;
      color: #4a90e2; }
    .sw-main-header #intro-buttongroup .switchedTab1 li {
      height: 100%;
      padding: 0.48em 1.5em 0.6em; }
  .sw-main-header .button-tab {
    /*display: table-cell;
        vertical-align: top;
        text-align: right;
        padding-right: 26.5%;*/ }
  .sw-main-header .drop-down-menu {
    cursor: pointer;
    width: 30%;
    float: right;
    position: relative;
    top: -74px;
    right: 10%; }
  .sw-main-header .menu-icon {
    width: 25px;
    height: 25px;
    margin: 0px 0px 15px 6px; }
  .sw-main-header .avatarImg {
    width: 50px !important;
    height: 50px !important;
    margin-top: 12px !important;
    border-radius: 50%; }

#sideBarSkin {
  position: absolute;
  width: 0;
  opacity: 0;
  min-height: 530px;
  top: 68px;
  right: 70px;
  border: 1px solid black;
  border: 1px solid #eae9e9;
  border-radius: 14px;
  background-color: #F7F2F2;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #B8B3B3; }
  #sideBarSkin ul {
    margin-top: 30px; }
  #sideBarSkin li {
    height: 35px !important;
    display: block;
    text-align: left;
    clear: both;
    line-height: 30px;
    cursor: pointer; }
  #sideBarSkin .sidebar-icon {
    width: 20px;
    float: left;
    line-height: 36px; }
  #sideBarSkin .sidebar-text {
    margin-left: 10px; }

.swaasth-main-logo {
  z-index: 999;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 110px;
  left: 14%;
  border: 1px solid #d0d0d0;
  height: 114px;
  background-color: #ffffff;
  cursor: pointer; }
  .swaasth-main-logo img {
    width: 60px;
    padding-top: 14px; }

.switchedTab2 img {
  width: 35px; }

.switchedTab2 li {
  height: 74px !important;
  line-height: 18px !important; }
  .switchedTab2 li.activeTab {
    background-color: #4a90e2 !important;
    color: #ffffff !important; }

.switchedTab2 .activeTab .selected-img {
  width: 50px; }

.drop-down-select {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #4a90e2; }

.km-state-disabled {
  pointer-events: none !important; }

input[type=checkbox] {
  visibility: hidden; }

/* ROUNDED TWO */
.roundedTwo {
  width: 28px;
  height: 28px;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  /*margin: 20px auto;*/
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative; }

.roundedTwo label {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 0px;
  top: 0px;
  -webkit-box-shadow: inset 0px 1px 1px #009688, 0px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px #009688, 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px #009688, 0px 1px 0px white;
  background: -webkit-linear-gradient(top, #009688 0%, #009688 100%);
  background: -moz-linear-gradient(top, #009688 0%, #009688 100%);
  background: -o-linear-gradient(top, #009688 0%, #009688 100%);
  background: -ms-linear-gradient(top, #009688 0%, #009688 100%);
  background: linear-gradient(top, #009688 0%, #009688 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 ); }

.roundedTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  content: '';
  position: absolute;
  width: 18px;
  height: 9px;
  background: transparent;
  top: 8px;
  left: 6px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.roundedTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3; }

.roundedTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1; }
