div.mno .top-element {
  text-align: center;
  margin: 0%; }
  div.mno .top-element .p-icon {
    width: 100px;
    margin-top: 30px; }

div.mno div > p {
  margin-left: 10%; }

div.mno .p-mno-grey {
  content: url("../images/grey_contact.png"); }

div.mno .p-mno-blue {
  content: url("../images/blue_contact.png"); }
