<kendo-mobile-view id="home-recommendations" class="recommandationList" ng-controller="homeController">
	
	@@include('../../site/partials/mainHeader.html')

	<div ui-view></div>
	


</kendo-mobile-view>