<kendo-mobile-view>
    <kendo-mobile-header>
        <kendo-mobile-nav-bar class="km-accent km-navbar-buttongroup">
            <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" />
            <kendo-view-title>Me</kendo-view-title>

        </kendo-mobile-nav-bar>
    </kendo-mobile-header>
    <kendo-mobile-content >
        <kendo-mobile-button-group k-align="'top'" ><ul><li>Personal</li><li>Medical</li><li>Dashboard</li></ul></kendo-mobile-button-group>
        <!--ng-submit="signin(userForm)"-->
        <div >
            <div class="km-leftitem"><img class="height_scale" src="images/height_scale.png"> </div>
            <div class="km-leftitem person_div"><img class="height_person" src="../../../images/lvl0to2.png"> </div>
        </div>


    </kendo-mobile-content>

    <kendo-mobile-footer>
        <div class="col-xs-4" ui-sref="record">
            <div class="records-icon" ></div>
                Records
        </div>
        <div class="col-xs-4 activeTab" ui-sref="home">
            <div class="home-icon"></div>
                <span >Home</span>
        </div>
        <div class="col-xs-4" ui-sref="familyMember">
            <div class="family-icon"></div>
                Family
        </div>
    </kendo-mobile-footer>
</kendo-mobile-view>