<section ng-controller="userAllergyListController">
<kendo-mobile-view id="medicalDetailedView" ng-controller="userAllergyListController">  
    @@include('../../site/partials/mainHeader.html') 
    <div class="profile-grid2 profile-grid3">
        <kendo-mobile-header class="sw-header">
            <kendo-mobile-nav-bar class="km-accent sw-header sw-header">
                
                <kendo-view-title> Allergies  </kendo-view-title>
            </kendo-mobile-nav-bar>
        </kendo-mobile-header>

        <kendo-web-content class="km-insetcontent" ng-init="generatealleryDetilsView()">
            <ul touch-scroll rn-carousel rn-carousel-index="carousel.index"  ng-model="carousel.index">
                <li id="detailedView" ng-repeat="allery in singleAllery">
                    <div class="detailSubHeader">
                        <div class="deleteCls" data-toggle="modal" data-target="#deleteModal">
                            <img src="images/delete-icon@2x.png" width="9%">
                        </div>
                        <div class="editCls">
                            <img src="images/edit-icon@2x.png" width="9%" ng-click="editAllergyInfo(carouselIndex)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 subHeadings"> Type of Allergy </div>
                        <div class="col-xs-12 subHeadingText" ng-model="allery.allergy"> {{ allery.allergy }} </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 subHeadings"> Triggred by </div>
                        <div class="col-xs-12 subHeadingText" ng-model="allery.triggeredBy"> {{ allery.triggeredBy }} </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 subHeadings"> Symptoms / Reactions </div>
                        <div class="col-xs-12 subHeadingText symptomsText" ng-model="allery.symptoms"> {{ allery.symptoms.join(", ") }} </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 subHeadings"> Treatment / Management </div>
                        <div class="col-xs-12 subHeadingText" ng-model="allery.treatment"> {{ allery.treatment }} </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 subHeadings"> Enter Test Conducted </div>
                        <div class="col-xs-12 subHeadingText" ng-model="allery.testConducted"> {{ allery.testConducted }} </div>
                    </div>
                    <div class="detailMeasuredDate">
                        <div class="calenderImg">
                            <img src="images/calendar@2x.png" width="40vh">
                        </div>
                        <span class="dateType">
                            From 
                        </span>
                        <span class="displayDate">
                            <p ng-show="allery.fromDate"> : {{allery.fromDate | formatDate | date : 'd MMM yyyy' }}</p>
                        </span>
                        <span class="dateType">
                            To 
                        </span>
                        <span class="displayDate">
                            <p ng-show="allery.toDate"> : {{allery.toDate | formatDate | date : 'd MMM yyyy' }}</p>
                        </span>
                    </div>
                    <div touch-scroll class="row detailNote">
                        <div class="col-xs-12 noteHead"> Note: </div>
                        <div class="col-xs-12 noteComment">
                            <p>{{allery.notes}} </p>
                        </div>
                    </div>
                </li>
            </ul>
        </kendo-web-content> 
    </div>       
</kendo-mobile-view>

<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Alert </h4>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to <b>Delete</b> this entry?</p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-6" data-dismiss="modal"> No </div>
                    <div class="col-xs-6" data-dismiss="modal" ng-click="deleteAllergyData()"> Yes </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


