<kendo-mobile-view id="allergyView" ng-controller="allergiesTriggersController">
    @@include('../../site/partials/mainHeader.html') 
    <div class="profile-grid2 profile-grid3">
        	<kendo-mobile-header class="sw-header">
                <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">
                    
                    <kendo-view-title> Allergies </kendo-view-title>
                    
                </kendo-mobile-nav-bar>
            </kendo-mobile-header>
            <kendo-web-content class="km-insetcontent">
        		<div touch-scroll ng-init="getTriggerList()">
                    <div class="allergyCls" ng-model="allergyName">
                        {{ allergyName }}
                    </div>
                    <div class="pageHeader"> Triggered by: </div>
        			<ul class="list-group">
        				<li ng-click="goToallergiesDetails( allergyName, tlist.name)" ng-repeat="tlist in triggeredList" class="list-group-item">
                            <div class="row">
                                <div class="col-xs-10">
                                    {{tlist.name}}
                                </div>
            					<div class="col-xs-1">
        							<img width="12vh" src="images/disclosure-indicator@2x.png">
        						</div>
                            </div>
        				</li>
        			</ul>
        		</div>
        </kendo-web-content>
    </div>
</kendo-mobile-view>