<kendo-mobile-view ng-init="getAllergiesListForUser()" ng-controller="userAllergyListController">	
	@@include('../../site/partials/mainHeader.html') 

    <kendo-web-content class="km-insetcontent" id="userAllergyList">

    	<div class="profile-grid2 profile-grid3">
    		<kendo-mobile-header class="sw-header">
		        <kendo-mobile-nav-bar class="km-accent sw-header km-navbar-buttongroup">
		           
		            <kendo-view-title> Allergies </kendo-view-title>
		           <Kendo-mobile-button k-align="'right'" class="plus-icon" ng-click="addMedicalInfo()">
				        	<span class="k-icon">+</span>
					</Kendo-mobile-button>
		        </kendo-mobile-nav-bar>
		    </kendo-mobile-header>
			<div touch-scroll ng-init="getAllergies()">
				<div class="list-group">
					<div ng-repeat="allergy in medicalUserAllergiesList" ng-click="showUserAllergyDetail($index)" class="list-group-item">
						&nbsp;<span class="testTypeText"> {{ allergy.allergy }} </span>
	                    <img class="testTypeDisclose" src="images/disclosure-indicator@2x.png">
					</div>			
				</div>
				<div ng-hide="medicalUserAllergiesList.length" class="default-noti">
						Your entries will be recorded as list here. <br/> Click on '<span style="font-size: 25px;font-weight: bold;vertical-align: middle;">+</span>' to add a new record
				</div>
	    	</div>
	    </div>
	</kendo-web-content>		
</kendo-mobile-view>

