<kendo-mobile-view id="intro-dashboard" ng-controller="EditProfileController">

    <!-- @@include('../../site/partials/mainHeader.html') -->

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3">

            <kendo-web-view>
                <kendo-web-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header">
                        <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
                        <kendo-view-title>Blood Group</kendo-view-title>
                        <Kendo-mobile-button class="btn-next" k-align="'right'" ng-disabled="!currentUser.bloodGroup" ng-click="currentUser.bloodGroup && next()">{{headerText}}</Kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-web-header>
                <div class="grid1" id="profile-bloodGroup" ng-form name="bloodGroupForm">
                    <!--ng-submit="signin(userForm)"-->
                    <img class="km-center" ng-class="currentUser.bloodGroup ? 'bloodGroup_active' : 'bloodGroup_inactive' " />
                    <select name="bloodGroup" ng-class="currentUser.bloodGroup? '':'bg-center'" class="form-bloodGroup-underlined" ng-model="currentUser.bloodGroup" >
                        <option value="" disabled>Blood Group</option>
                        <!-- <option value="A_POSITIVE">A+ve</option>
                        <option value="A_NEGATIVE">A-ve</option>
                        <option value="B_POSITIVE">B+ve</option>
                        <option value="B_NEGATIVE">B-ve</option>
                        <option value="AB_POSITIVE">AB+ve</option>
                        <option value="AB_NEGATIVE">AB-ve</option>
                        <option value="O_POSITIVE">O+ve</option>
                        <option value="O_NEGATIVE">O−ve</option>
                        <option value="A1_POSITIVE">A1+ve</option>
                        <option value="A1B_POSITIVE">A1B+ve</option> -->
                        <option value="A+ve">A+ve</option>
                        <option value="A-ve">A-ve</option>
                        <option value="B+ve">B+ve</option>
                        <option value="B-ve">B-ve</option>
                        <option value="AB+ve">AB+ve</option>
                        <option value="AB-ve">AB-ve</option>
                        <option value="O+ve">O+ve</option>
                        <option value="O-ve">O−ve</option>
                        <option value="A1+ve">A1+ve</option>
                        <option value="A1B+ve">A1B+ve</option>
                    </select>
                    <div class="underline"></div>
                    <!-- <div id="dropdownlist" name="bloodGroup" class="form-bloodGroup-underlined" ng-model="user.bloodGroup">
                    </div> -->

                </div>

            </kendo-web-view>

        </div>

    </kendo-mobile-content>
</kendo-mobile-view>