<kendo-mobile-footer>
    <div class="col-xs-4" ui-sref="record">
        <div class="records-icon" ></div>
            Records
    </div>
    <div class="col-xs-4 activeTab" ui-sref="home">
        <div class="home-icon"></div>
            <span >Home</span>
    </div>
    <div class="col-xs-4" ui-sref="familyMember">
        <div class="family-icon"></div>
            Family
    </div>
</kendo-mobile-footer>