<kendo-mobile-view id="intro-dashboard">

    @@include('../../site/partials/mainHeader.html')

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3" ui-view></div> 
    </kendo-mobile-content>
</kendo-mobile-view>
