

<kendo-mobile-view id="intro-dashboard" ng-controller="EditProfileController">

   <!--  @@include('../../site/partials/mainHeader.html') -->

    <kendo-mobile-content >
        <div class="profile-grid2 profile-grid3">

            <kendo-web-view>
                <kendo-web-header class="sw-header">
                    <kendo-mobile-nav-bar class="km-accent sw-header">
                        <!-- <kendo-mobile-back-button k-icon="'arrow-w'" k-align="'left'" ng-click="goBack()" /> -->
                        <kendo-view-title>Address</kendo-view-title>
                        <Kendo-mobile-button class="btn-next" k-align="'right'" ng-click="next()">
                            <span ng-show="currentUser.address1 || currentUser.address2 || currentUser.state || currentUser.country">{{headerText}}</span>
                            <span ng-hide="currentUser.address1 || currentUser.address2 || currentUser.state || currentUser.country">Skip</span>
                        </Kendo-mobile-button>
                    </kendo-mobile-nav-bar>
                </kendo-web-header>

                <kendo-mobile-content class="km-insetcontent">
                    <div class="address common-input-box scrollable" ng-form name="addressForm">

                        <div class="top-element">
                            <img class="p-icon"  ng-class="!addressForm.$invalid?'icon-blue':'icon-grey'" src="images/grey_loc.png"/>
                        </div>
                        <div>
                            <div >
                                <input  class="form-input-underlined" type="text" ng-model="currentUser.address1" name="addressLineOne" placeholder="Address line 1" />
                            </div>

                            <div >
                                <input class="form-input-underlined" type="text"   ng-model="currentUser.address2" name="addressLineTwo" placeholder="Address line 2" />
                            </div>

                            <div>
                                <input class="form-input-underlined" type="text"   ng-model="currentUser.state" name="state" placeholder="State" />
                            </div>

                            <div>
                                <input class="form-input-underlined" type="text" value="India" disabled name="country" />
                            </div>

                        </div>

                    </div>

                </kendo-mobile-content>

            </kendo-web-view>

        </div>

    </kendo-mobile-content>
</kendo-mobile-view>